theme = "base16_transparent"

[editor]
mouse = true
middle-click-paste = true
default-yank-register = "+"
scroll-lines = 1
# shell = [ "pwsh", "-Command" , " $PSStyle.OutputRendering = [System.Management.Automation.OutputRendering]::PlainText; "]
shell = ["nu","-c"]
line-number = "relative"
idle-timeout = 100
rulers = [90]
text-width = 90
scrolloff = 0
completion-trigger-len = 1
auto-completion = true
auto-info = false
cursorline = true
indent-guides.render = true
bufferline = "multiple"
color-modes = true
insert-final-newline = false

[editor.gutters.line-numbers]
min-width = 0

[editor.gutters]
# layout = ["diagnostics", "diff", "line-numbers"]
layout = ["diff", "line-numbers","spacer"]

[editor.smart-tab]
supersede-menu = true

[editor.soft-wrap]
enable = false
max-wrap = 90 # increase value to reduce forced mid-word wrapping
max-indent-retain = 0
wrap-indicator = ""  # set wrap-indicator to "" to hide it
wrap-at-text-width = true

[editor.cursor-shape]
normal = "block"
insert = "bar"
select = "bar"

[editor.lsp]
display-messages = true
display-inlay-hints = true

[editor.statusline]
left = ["mode", "spinner", "file-name", "file-type", "total-line-numbers", "file-encoding"]
center = []
right = ["selections", "primary-selection-length", "position", "position-percentage", "spacer", "separator",
"total-line-numbers","diagnostics", "version-control"]

[keys.normal]
# Quick iteration on config changes
C-o = ":config-open"
C-r = ":config-reload"
C-q = ":quit"

# HACK: since s-ins is my default paste, windows terminal translate to pure paste by typing
C-v = "paste_clipboard_before"
# S-ins = "paste_clipboard_before"

 # Personal preference
o = ["open_below", "insert_mode"]
O = ["open_above", "insert_mode"]
# Muscle memory
"{" = ["goto_prev_paragraph", "collapse_selection"]
"}" = ["goto_next_paragraph", "collapse_selection"]
0 = "goto_line_start"
"$" = "goto_line_end"
"^" = "goto_first_nonwhitespace"
G = "goto_file_end"


V = ["select_mode", "extend_to_line_bounds"]
D = ["extend_to_line_end", "delete_selection"]
S = "surround_add"

# Clipboards over registers ye ye
# p = ["paste_clipboard_after", "collapse_selection"]
# P = ["paste_clipboard_before", "collapse_selection"]
# Would be nice to add ya and yi, but the surround commands can't be chained
Y = ["extend_to_line_end", "yank_main_selection_to_clipboard", "collapse_selection"]

# Undoing the 'd' + motion commands restores the selection which is annoying
u = ["undo", "collapse_selection"]

# Escape the madness! No more fighting with the cursor! Or with multiple cursors!
esc = ["collapse_selection", "keep_primary_selection"]

# Search for word under cursor
"*" = ["move_char_right", "move_prev_word_start", "move_next_word_end", "search_selection", "search_next"]
"#" = ["move_char_right", "move_prev_word_start", "move_next_word_end", "search_selection", "search_prev"]

# Make j and k behave as they do Vim when soft-wrap is enabled
j = "move_line_down"
k = "move_line_up"

# Move lines.
# move line up
"A-up" = ["extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before"]
# move line down
"A-down" = ["extend_to_line_bounds", "delete_selection", "paste_after"]

# HACK: mimic buffer motion in neovim.
"]" = { b ="goto_next_buffer"}
"[" = { b ="goto_previous_buffer"}

"," = "repeat_last_motion"
end = "goto_line_end_newline" # stop at linebreak; this is more useful
C-end = "goto_file_end" 
C-home = "goto_file_start"
del = ["move_next_word_end", "move_prev_word_end", "move_next_word_end", "delete_selection_noyank"] # delete current word
C-del = "toggle_comments" # kind of delete, but not really =D

backspace = ["delete_char_backward"] # counterpart for `d`
C-backspace = ["move_prev_word_start", "delete_selection"] # delete word barckwards
# A-backspace = ["move_prev_word_start", "delete_selection"] # delete word barckwards

# INFO: as `c-a c-a`
"ret" = "goto_word"
"C-S-backspace" = "goto_last_modification"

# NOTE: to breakdown the up to text-width.
# "C-w" = {"C-e" = [":toggle soft-wrap.enable"], "C-n" = [':toggle gutters.layout ["diff"] ["diff","line-numbers"]']}
"C-w" = {"C-e" = [":toggle soft-wrap.enable"], "C-n" = [':set gutters.layout ["diff"]']}
[keys.normal.d]
d = ["extend_to_line_bounds", "yank_main_selection_to_clipboard", "delete_selection"]
t = ["extend_till_char"]
s = ["surround_delete"]
i = ["select_textobject_inner"]
a = ["select_textobject_around"]
j = ["select_mode", "extend_to_line_bounds", "extend_line_below", "yank_main_selection_to_clipboard", "delete_selection", "normal_mode"]
down = ["select_mode", "extend_to_line_bounds", "extend_line_below", "yank_main_selection_to_clipboard", "delete_selection", "normal_mode"]
k = ["select_mode", "extend_to_line_bounds", "extend_line_above", "yank_main_selection_to_clipboard", "delete_selection", "normal_mode"]
up = ["select_mode", "extend_to_line_bounds", "extend_line_above", "yank_main_selection_to_clipboard", "delete_selection", "normal_mode"]
G = ["select_mode", "extend_to_line_bounds", "goto_last_line", "extend_to_line_bounds", "yank_main_selection_to_clipboard", "delete_selection", "normal_mode"]
w = ["move_next_word_start", "yank_main_selection_to_clipboard", "delete_selection"]
W = ["move_next_long_word_start", "yank_main_selection_to_clipboard", "delete_selection"]
# g = { g = ["select_mode", "extend_to_line_bounds", "goto_file_start", "extend_to_line_bounds", "yank_main_selection_to_clipboard", "delete_selection", "normal_mode"] }

# [keys.normal.d.i]
# w = [ "move_char_right", "move_prev_word_start", "move_next_word_end", "yank_main_selection_to_clipboard", "delete_selection", ]


[keys.normal.y]
# y = ["goto_line_start", "extend_to_line_bounds", "yank_main_selection_to_clipboard", "normal_mode", "goto_line_start"]
# j = ["select_mode", "extend_to_line_bounds", "extend_line_below", "yank_main_selection_to_clipboard", "collapse_selection", "normal_mode"]
# down = ["select_mode", "extend_to_line_bounds", "extend_line_below", "yank_main_selection_to_clipboard", "collapse_selection", "normal_mode"]
# k = ["select_mode", "extend_to_line_bounds", "extend_line_above", "yank_main_selection_to_clipboard", "collapse_selection", "normal_mode"]
# up = ["select_mode", "extend_to_line_bounds", "extend_line_above", "yank_main_selection_to_clipboard", "collapse_selection", "normal_mode"]
# G = ["select_mode", "extend_to_line_bounds", "goto_last_line", "extend_to_line_bounds", "yank_main_selection_to_clipboard", "collapse_selection", "normal_mode"]
# w = ["move_next_word_start", "yank_main_selection_to_clipboard", "collapse_selection", "normal_mode"]
# W = ["move_next_long_word_start", "yank_main_selection_to_clipboard", "collapse_selection", "normal_mode"]
# g = { g = ["select_mode", "extend_to_line_bounds", "goto_file_start", "extend_to_line_bounds", "yank_main_selection_to_clipboard", "collapse_selection", "normal_mode"] }
# End of key.normal mapping.

[keys.normal.g]
";" = "goto_last_modification"
a = [":character-info"]
# my style of quit
[keys.normal.";"]
# INFO: since I already alias a lot of things into `;`, collapse_selection has to be `;;`
";" = "collapse_selection"
q = [":quit-all!"]
b = {c = ":buffer-close", d = ":buffer-close"}

[keys.normal.";".w]
q = [":write-quit-all!"]
w = [":write-all!"]

[keys.normal.l.w]
q = [":write-quit-all!"]

[keys.normal.";".f]
f = ["global_search"]


[keys.insert.l.w]
q = [":write-quit-all!"]


# INFO: start insert mapping.
[keys.insert]
C-m = [ "match_brackets", "select_textobject_inner"]
C-left = ["move_prev_long_word_start"]
C-right = ["move_next_long_word_end"]
C-up = ["extend_to_line_bounds","goto_prev_paragraph"]
C-down = ["extend_to_line_bounds","goto_next_paragraph"]

# HACK: since S-ins is my default paste, windows terminal translate to pure paste by typing
C-v = ["normal_mode","paste_clipboard_before","goto_line_end_newline","insert_mode"]
# S-ins = "paste_clipboard_before

# HACK: [More keymap hacking for an easier typing insert mode.](https://docs.helix-editor.com/keymap.html#insert-mode)
C-del = ["move_next_word_start", "delete_selection"] # delete next word
# "A-w" = ["move_next_word_start", "delete_selection"] # delete next word,
C-backspace = ["move_prev_word_start", "delete_selection"] # delete word barckwards
# `a-d` == ctrl-del, `c-d` == del


C-space = ["completion"]
"C-[" = ["normal_mode"] 

# INFO: goto mode support.
"C-ret" = ["goto_word"]
"C-S-backspace" = ["goto_last_modification"]
C-end = "goto_file_end" 
C-home = "goto_file_start"

[keys.insert.j]
k = ["normal_mode"]

# my style of quit
[keys.insert.";".w]
q = [":write-quit-all!"]
w = [":write-all!","normal_mode"]

[keys.insert.";"]
q = [":quit-all!"]
b = {c = ":buffer-close", d = ":buffer-close"}

[keys.select]
# Muscle memory
o = "flip_selections"
O = "ensure_selections_forward"
"{" = ["extend_to_line_bounds", "goto_prev_paragraph"]
"}" = ["extend_to_line_bounds", "goto_next_paragraph"]
0 = "goto_line_start"
"$" = "goto_line_end"
G = "goto_file_end"
C = ["goto_line_start", "extend_to_line_bounds", "change_selection"]
# "%" = "match_brackets"
S = "surround_add" # Basically 99% of what I use vim-surround for
# u = ["switch_to_lowercase", "collapse_selection", "normal_mode"]
# U = ["switch_to_uppercase", "collapse_selection", "normal_mode"]
Y = ["extend_to_line_bounds", "yank_main_selection_to_clipboard", "goto_line_start", "collapse_selection", "normal_mode"]
p = "replace_selections_with_clipboard" # No life without this
P = "paste_clipboard_before"

"C-w" = {"C-e" = [":reflow"]}
"," = "repeat_last_motion"
