[submodule "linux_env"]
	path = linux_env
	url = https://github.com/groutoutlook/linux_env.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/groutoutlook/nvim_dotfiles.git
[submodule "powershell"]
	path = powershell
	url = https://github.com/groutoutlook/pwsh_settings.git
